In [2]:
# String is a set of characters and we will learn List Data type
# List Data type- contains all data types as well as self i.e. List can be kept inside a List
# Indexing and Slicing can also be performed for list

a=[40,585.7, "njkf", True, 5+8j]

In [4]:
type(a)

list

In [12]:
a[2]

'njkf'

In [14]:
# Slicing
a[0:5]

[40, 585.7, 'njkf', True, (5+8j)]

In [28]:
a[::2]

[40, 'njkf', (5+8j)]

In [18]:
a[-1]

(5+8j)

In [40]:
# suppose we want to extract 'nj' from the string available inside the list
a[2] [0:2]

# suppose we want to extract 'Tr' from the string available inside the list, first do typecasting
str (a[3]) [0:2]

'Tr'

In [20]:
a[::-1]

[(5+8j), True, 'njkf', 585.7, 40]

In [24]:
b="pwskills"

In [26]:
# Concatanation of list and String
# List and List can be concatanated directly by using + but not List + OTHER DATA TYPE
a+b

TypeError: can only concatenate list (not "str") to list

In [46]:
# Use Append and Extend operation for the above purpose (Add data to last position)
# Append= Joins the data as it is and EXTEND= Breaks then add e.g. "viv" then it will be v,i,v
c=[541, 'fhgf', 752.82, True]

In [48]:
a+c # OR after concat. want to store it in a new function 'd' then, 
d=(a+c)

In [50]:
d

[40, 585.7, 'njkf', True, (5+8j), 541, 'fhgf', 752.82, True]

In [52]:
len(d)

9

In [54]:
# Appending
d.append(8155666)

In [56]:
d

[40, 585.7, 'njkf', True, (5+8j), 541, 'fhgf', 752.82, True, 8155666]

In [68]:
d.append(523.045)

In [70]:
d

[40,
 585.7,
 'njkf',
 True,
 (5+8j),
 541,
 'fhgf',
 752.82,
 True,
 8155666,
 'pwskills',
 [40, 585.7, 'njkf', True, (5+8j)],
 [40, 585.7, 'njkf', True, (5+8j)],
 [541, 'fhgf', 752.82, True],
 523.045]

In [72]:
e=[5440.50, "bfgf", 502, True]

In [76]:
e.extend([3,4,5])

In [78]:
e

[5440.5, 'bfgf', 502, True, 3, 4, 5]

In [98]:
# Insert= This function add data to given specific position of our interest and NOT remove the data from that specific index, It will just push 
# how many times we will execute it will add that many time to that specific index
h=["bvjv",5862.04,True]

In [100]:
h.insert(1,"singh") # i.e. (index position, data to be added)
h

['bvjv', 'singh', 5862.04, True]

In [106]:
# See carefully when reverse index is given
h.insert(-1,814545)
h

['bvjv', 'singh', 5862.04, 814545, True]

In [108]:
# REMOVE by giving index using pop (default last index i.e. from -1 index) function
h.pop()
h

['bvjv', 'singh', 5862.04, 814545]

In [118]:
i=["bfbbg",652.0564,False,98112]

In [120]:
i.pop(2)
i

['bfbbg', 652.0564, 98112]

In [126]:
# REMOVE function- will remove the value whichever we want, It doen't takes the index
j=["jkkkmf",False,True,752.05,87,[4,5,6]]
j

['jkkkmf', False, True, 752.05, 87, [4, 5, 6]]

In [128]:
j[5].remove(6)

In [130]:
j

['jkkkmf', False, True, 752.05, 87, [4, 5]]

In [132]:
# string is Immutable so we can't remove
j[0].remove('jk')
j

AttributeError: 'str' object has no attribute 'remove'

In [134]:
j[0].remove(jk)
j

AttributeError: 'str' object has no attribute 'remove'

In [136]:
# Reverse function- Permanently reverse our original List
j.reverse()
j

[[4, 5], 87, 752.05, True, False, 'jkkkmf']

In [138]:
# If we want to make it permanent as REVERSE is doing, then perform reassignment j=j[::-1]
j[::-1] # Temporarely reverse our original List
j

[[4, 5], 87, 752.05, True, False, 'jkkkmf']

In [140]:
# SORT function- ascending to descending (works for same data type inside list
j.sort()
j

TypeError: '<' not supported between instances of 'int' and 'list'

In [144]:
k=[0,7,5,8,99,4,10,45,3,7,10]
k.sort()
k

[0, 3, 4, 5, 7, 7, 8, 10, 10, 45, 99]

In [154]:
# for descending or alphabetically reverse
k.sort(reverse=True)
k

[99, 45, 10, 10, 8, 7, 7, 5, 4, 3, 0]

In [148]:
l=["njnvdjnv", "shidd", "yrnn", "dbuhjko", "aijjvjg"]
l.sort() # Alphabetically
l

['aijjvjg', 'dbuhjko', 'njnvdjnv', 'shidd', 'yrnn']

In [156]:
# for descending or alphabetically reverse
l.sort(reverse=True)
l

['yrnn', 'shidd', 'njnvdjnv', 'dbuhjko', 'aijjvjg']

In [160]:
# Count function- to know how many times a data is present
l.count("yrnn")

1

In [162]:
# Mutability and Immutability
# String is Immutable and List is Mutable 
m="abhfio"
m[0]='z' #i.e. replace index 0 i.e. 'a' present in m string with 'z'
m

TypeError: 'str' object does not support item assignment

In [174]:
n=[4577,True,89566.542]
n[1]=False
n

[4577, False, 89566.542]

In [176]:
# TUPLE Data type, IMMUTABLE
# Indexing and Slicing is applicable
t=(42,455.45,"duh",True, 45+417j, [5,7,8])
t

(42, 455.45, 'duh', True, (45+417j), [5, 7, 8])

In [178]:
type(t)

tuple

In [182]:
t[0]

42

In [184]:
t[0]="60"

TypeError: 'tuple' object does not support item assignment

In [188]:
# only two functions availables are count and index
t.count(42)

1

In [190]:
# SET Data type- Immutable and removes duplicates (looks ordered but it is unordered) present in the set  
s={} # empty bracket will give dict type
type(s)

dict

In [202]:
s={50,40,488,6.15,"cfggg",False,78+89j}
type(s)

set

In [204]:
s={50,40,488,6.15,"cfggg",False,78+89j,[88,56,9,]} # Accepts only IMMUTABLES 
                                                  # So, Don't accept list i.e. [88,56,9,]
type(s)

TypeError: unhashable type: 'list'

In [208]:
s={50,40,488,6.15,"cfggg",False,78+89j,(45,89,63,"der")} # accept Tuple 
type(s)

set

In [214]:
# Set removes repwtitive data and gives only unique data
q={1,5,5,8,9,1,4,5,2,3,7,5,6,4,2,6,3,4,7,8,6,9,7,0,3,0,7,8,5,6,9,2,3,1,"fjj","Fjj"}
q

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'Fjj', 'fjj'}

In [222]:
# change set to list and add an element i.e. reassignment
q=list(set("jkh"))
q

['h', 'j', 'k']

In [230]:
# set arranges the unique data in an unordered manner
l={44,88,52,63,"gjkh",44,63,12,2,789}
l

{12, 2, 44, 52, 63, 789, 88, 'gjkh'}

In [232]:
# set doesn't support indexing and slicing operation 
l[0]

TypeError: 'set' object is not subscriptable

In [234]:
l[::-1]

TypeError: 'set' object is not subscriptable

In [236]:
# operations
# add unique element if same element is present it will not allow to add 
l.add(45)
l

{12, 2, 44, 45, 52, 63, 789, 88, 'gjkh'}

In [246]:
# remove
l.remove(88)
l

{12, 2, 44, 45, 52, 63, 789, 'gjkh'}