In [6]:
# Function-  is a block of reusable code that performs a specific task 
# in-build (print(), len(), sum(), type()), user defined 

def test1():              # def is used to define a function, test1 is the name of the function
    print("Hello buddies !!") # inside function this will be executed whenever the function (test1) will be called
test1()

Hello buddies !!

In [8]:
test1()+"nfjjf" # whenever we will reuse our function having print it gives error 
                # as print always gives None data type and we are trying to concatenate a string to it

Hello buddies !!

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [22]:
# therefore we will use return instead of print
def test2():
    return(" I am vivek ")
test2()

' I am vivek '

In [24]:
test2() + "singh"

' I am vivek singh'

In [6]:
def test3():
    return "huuuf",589,766.500,[7,9,23]

In [8]:
test3()

('huuuf', 589, 766.5, [7, 9, 23])

In [10]:
a,b,c,d = test3() # making 4 variable for the different data types got from function

In [12]:
a

'huuuf'

In [14]:
b

589

In [16]:
c

766.5

In [18]:
d

[7, 9, 23]

In [20]:
def test4():
    a=5+6/7
    return a
test4()

5.857142857142857

In [24]:
# taking input from user
def test5(a,b,c): # giving argument in a function
    d=a+b/c
    return d
test5(4,5,2) # giving argument values for a,b,c

6.5

In [26]:
def test6(a,b):
    return a+b
test6(4,5)

9

In [34]:
test6 ("Hello" , "everyone") # if we give a string it will concatenate as we have used + in our test6 function

'Helloeveryone'

In [36]:
test6([7,9,5,7,66,78], [89,5,36,89,7]) # giving list it will concatenate as we have used + in our test6 function

[7, 9, 5, 7, 66, 78, 89, 5, 36, 89, 7]

In [51]:
# write a function that extracts the int or float list from the given list below
# extracting int or float values present
l = [88, 6, 85, 5, 5, 79, "njitko", "ieokpr", [9.5, 6, 2, 5, 3, 78, 89.5]]

def test7(l):
    l1 = []  # Assigning a blank list to hold the output in a list
    for i in l:
        if type(i)==int or type(i)==float:  # Using type() to check data type
            l1.append(i)
    return l1 

test7(l)

[88, 6, 85, 5, 5, 79]

In [71]:
# extracting int or float or list values present
l = [88, 6, 85, 5, 5, 79, "njitko", "ieokpr", [9.5, 6, 2, 5, 3, 78, 89.5]]

def test7(l):
    l1 = []  # Assigning a blank list to hold the output in a list
    for i in l:
        if type(i)==int or type(i)==float or type(i)==list:  # Check if element is a number or list
    return l1

test7(l)

[88, 6, 85, 5, 5, 79, [9.5, 6, 2, 5, 3, 78, 89.5]]

In [75]:
# extracting all present
# writing doc string to make our function more meaningful, we have just to write our function work enclosed within """
# the function work can be checked using Shift+Tab as done for others

l = [88, 6, 85, 5, 5, 79, "njitko", "ieokpr", [9.5, 6, 2, 5, 3, 78, 89.5]]

def test8(l):
    # writing a docstring
    """This function works as to extract all the elements present in a list"""
    l1 = []  # Assigning a blank list to hold the output in a list
    for i in l:
        if type(i)==int or type(i)==float or type(i)==list or type(i)==str:  # Check if element is a number or list or string
            l1.append(i)
    return l1

test8(l)

[88, 6, 85, 5, 5, 79, 'njitko', 'ieokpr', [9.5, 6, 2, 5, 3, 78, 89.5]]

In [77]:
# making parameter dynamic
# * is used so that we can pass n numbers of argument (in the form of tuple) inside a function
# args can be replaced by any words but it has to be used with *
def test9(*args):
    return args
test9()

()

In [79]:
type(test9())

tuple

In [81]:
test9(7,8,9)

(7, 8, 9)

In [85]:
test9(78,9,46,"hhij",86.59,[87,89,66,9,29])

(78, 9, 46, 'hhij', 86.59, [87, 89, 66, 9, 29])

In [87]:
# args can be replaced by any words but it has to be used with *
def test10(*viv):
    return viv
test10()

()

In [89]:
test10(89.697,78,96,36,78,"hjtii", "jio", [7,9,86,4,], {78,89,2,7})

(89.697, 78, 96, 36, 78, 'hjtii', 'jio', [7, 9, 86, 4], {2, 7, 78, 89})

In [91]:
# multiple return
def test11(*viv, a):
    return viv, a
test(11)    # it will give error as we are passing * and also second as 'a', so we have to define a value for 'a'

NameError: name 'test' is not defined

In [97]:
#  define a value for 'a'
test11(7,99,5,6,75,55.58,a=89)

((7, 99, 5, 6, 75, 55.58), 89)

In [103]:
def test12(c,d, a=85, b=33):
    return a,b,c,d
test12()          # gives error as no values are defined for c,d

TypeError: test12() missing 2 required positional arguments: 'c' and 'd'

In [105]:
# giving value for c,d
# by default it will give the value of a,b,c,d
test12(7,8)

(85, 33, 7, 8)

In [107]:
# we want to change the value of a
test12(7,8, a=900)

(900, 33, 7, 8)

In [117]:
# if we want multiple arguments in key:value pairs then we have to use **
# it gives dic data type
def test13(**kwargs):
    return kwargs
test13()

{}

In [115]:
type(test13())

dict

In [119]:
# we can use any word instead of kwargs but it has to be with **
def test14(**sh):
    return sh
test14()

{}

In [121]:
# it gives dic data type
test14(a=[45,99,44], b="hjit", c=5.45)

{'a': [45, 99, 44], 'b': 'hjit', 'c': 5.45}