In [12]:
# map function- is used to apply a function to each item in an iterable (like a list or tuple) without using loops
              # Make an iterator that computes the function using arguments from each of the iterables. Stops when the shortest iterable is exhausted
# square the elements of a list
l = [5, 9, 7, 3, 6, 7, 2, 1, 8] 
def sq(x):
    return x ** 2  # Function to return square of a number
result = list(map(sq, l))  # Apply 'sq' function to each element of 'l'
print(result)  # Print the list of squared values

[25, 81, 49, 9, 36, 49, 4, 1, 64]

In [16]:
# adding elements of 2 lists one to another index wise
l1 = [7, 9, 6, 3, 4, 5]  
l2 = [3, 8, 6, 4, 2, 7]  

# Using map() to apply a lambda function that adds corresponding elements of l1 and l2
result = list(map(lambda x, y: x + y, l1, l2)) # x is for l1 elements, y is for l2 elements
print(result)

[10, 17, 12, 7, 6, 12]

In [18]:
# using external function and then applying map function with external function
def add (x,y):
    return x+y
list(map(add,l1,l2))

[10, 17, 12, 7, 6, 12]

In [22]:
# upper case using map
s="bfhhug"
list(map(lambda s : s.upper(),s))

['B', 'F', 'H', 'H', 'U', 'G']

In [34]:
# Reduce function- is part of the functools module and
                  #is used to apply a function cumulatively to a sequence, reducing it to a single value
# sum all the elements i.e. reduced
from functools import reduce # importing reduce function form functools
l=[7,9,5,9,1,6,3,1]
reduce(lambda x,y : x+y, l) # x=7,y=9, x+y=16. Now, x=16,y=5, x+y=21 Now, x=21,y=9, x+y=30...........

41

In [36]:
reduce(lambda x,y,z : x+y+z, l)  # we can't give 3 parameter 
                              # it will give error because may be the third element can't be found in the list during reduction

TypeError: <lambda>() missing 1 required positional argument: 'z'

In [38]:
reduce(lambda x,y,z : x+y+z, [])

TypeError: reduce() of empty iterable with no initial value

In [40]:
# exceptional case of reduce function
# because [1] has only one element, reduce() does not even call the lambda functionâ€”it just returns 1 directly
reduce(lambda x,y,z : x+y+z, [1])

1

In [42]:
# multiply
reduce(lambda x,y : x*y, l)

51030

In [46]:
# taking out greatest nu. present in the list
reduce(lambda x,y : x if x>y else y, l)

9

In [53]:
# Filter function- is used to filter elements from an iterable (like a list or tuple) based on a given condition. 
   #It applies a function to each element and returns only those for which the function evaluates to True
# taking out EVEN number from list
l4=[4,9,3,7,5,6,4,2,8,3,6,7,8]
list(filter(lambda x : x%2==0, l4))

[4, 6, 4, 2, 8, 6, 8]

In [55]:
# taking out ODD number from list
l4=[4,9,3,7,5,6,4,2,8,3,6,7,8]
list(filter(lambda x : x%2!=0, l4))

[9, 3, 7, 5, 3, 7]

In [57]:
# taking out -ve elements
l5=[4,8,6,-78,2,-6,-1]
list(filter(lambda x : x<0, l5))

[-78, -6, -1]

In [59]:
# taking out the string whose length is <5
l6=["bfjg", "bhui", "ubirl", "yeui","huijokro", "fnf"]
list(filter(lambda x : len(x)<5, l6))

['bfjg', 'bhui', 'yeui', 'fnf']