In [29]:
# SQL- SQL databases are relational databases that store data in structured tables with predefined schemas. 
       # They use SQL for querying and data manipulation
# connecting to MySQL- SQL(Structured Query Language) types; MySQL, MsSQL, DBL, PostgreSQL, Oracle Database
                     # NoSQL(Structured Query Language) types; MongoDb, Cassandra, Habase, Influx, Neo4j, Redis, DynamoDB

import pymysql
mydb = pymysql.connect(
       host="localhost",
       user="root",
       passwd="Mysql@1.")
print(mydb)

<pymysql.connections.Connection object at 0x000001A9AF30BD70>

In [31]:
import pymysql

# Establish connection
mydb = pymysql.connect(
    host="localhost",
    user="root",
    passwd="Mysql@1."
)

# Create a cursor object to interact with the database
cursor = mydb.cursor()

# Run a simple query to check the database version
cursor.execute("SELECT VERSION();")

# Fetch and print the result
version = cursor.fetchone()
print("Connected to MySQL version:", version)

# Close the connection
cursor.close()
mydb.close()

Connected to MySQL version: ('8.0.41',)

In [37]:
import mysql.connector  # Importing MySQL connector module

# Establishing connection to MySQL database
mydb = pymysql.connect(
       host="localhost",  # MySQL server hostname (localhost for local connection)
       user="root",        # MySQL username (default is "root")
       passwd="Mysql@1."   # MySQL password (ensure it's correct)
)
print(mydb)   # Printing the database connection object


mycursor = mydb.cursor() # Creating a cursor object to interact with the database
mycursor.execute("SHOW DATABASES") # Executing a SQL command to list all databases


for x in mycursor: # Looping through and printing each database name
    print(x)

# Close the connection
cursor.close()
mydb.close()

<pymysql.connections.Connection object at 0x000001A9AF7183E0>
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)

In [84]:
# Creating a Database e.g. TEST and making a table e.g. test4 inside the Database and also;
     # giving values inside the table i.e. test4

import pymysql  # Import pymysql library for MySQL connectivity

# Establish a connection to the MySQL server
mydb = pymysql.connect(
       host="localhost",  # MySQL server hostname (localhost for local server)
       user="root",        # MySQL username (default is "root")
       passwd="Mysql@1.",  # MySQL password (ensure it's correct)
       database="TEST"     # Specify database (so we don't need "USE TEST" separately)
)
print(mydb)  # Print connection object to verify the connection

print("Connected to MySQL Server")  # Confirmation message

mycursor = mydb.cursor()  # Create a cursor object to interact with the database

# Create the database if it does not exist
mycursor.execute("CREATE DATABASE IF NOT EXISTS TEST")  
print("Database 'TEST' created or already exists.")  # Success message

# Ensure we're using the correct database
mycursor.execute("USE TEST")

# Create the table 'test4' if it does not exist
mycursor.execute("""
    CREATE TABLE IF NOT EXISTS test4 (
        c1 INT,
        c2 VARCHAR(50),
        c3 FLOAT,
        c4 INT
    )
""")
print("Table 'test4' created successfully inside database 'TEST'.")

# Insert data into the newly created table
mycursor.execute("INSERT INTO test4 (c1, c2, c3, c4) VALUES (785, 'Vivek', 78.89, 75)") # here we use ' ' instead of " "
mydb.commit()  # Save the changes

print("Data inserted successfully into 'test4'.")  # Success message

mycursor.execute("SELECT * FROM test4")  # Visualise the table made inside the Database
for row in mycursor.fetchall():
    print(row)

# Close the cursor and database connection to free resources
mycursor.close()
mydb.close()

<pymysql.connections.Connection object at 0x000001A9B0717EC0>
Connected to MySQL Server
Database 'TEST' created or already exists.
Table 'test4' created successfully inside database 'TEST'.
Data inserted successfully into 'test4'.
(785, 'Vivek', 78.89, 75)

In [ ]:
# suppose we want to visualise only c1 and c3

mycursor.execute("CREATE DATABASE IF NOT EXISTS TEST")  
print("Database 'TEST' created or already exists.")  # Success message

# Ensure we're using the correct database
mycursor.execute("USE TEST")

# Create the table 'test4' if it does not exist
mycursor.execute("""
    CREATE TABLE IF NOT EXISTS test4 (
        c1 INT,
        c2 VARCHAR(50),
        c3 FLOAT,
        c4 INT
    )
""")
print("Table 'test4' created successfully inside database 'TEST'.")

# Insert data into the newly created table
mycursor.execute("INSERT INTO test4 (c1, c2, c3, c4) VALUES (785, 'Vivek', 78.89, 75)") # here we use ' ' instead of " "
mydb.commit()  # Save the changes

print("Data inserted successfully into 'test4'.")  # Success message

mycursor.execute("SELECT c1, c3 FROM test4")  # Visualise only c1 and c3 from the table made inside the Database
for row in mycursor.fetchall():
    print(row)

# Close the cursor and database connection to free resources
mycursor.close()
mydb.close()