In [11]:
# connecting Python to MongoDB-  is a NoSQL database that stores data in JSON (Java Script Orient Notation)-like documents. 
                                  #Unlike traditional relational databases (SQL), MongoDB is schema-less, meaning there are no predefined table structures

 # got this all from-  https://cloud.mongodb.com/v2/67e7e21b7089134a25efdd16#/overview?connectCluster=Cluster0

import pymongo
from pymongo.mongo_client import MongoClient
import urllib.parse  # Import urllib for encoding

# Encode special characters in password
password = urllib.parse.quote_plus("Mongodb@1.")  # Encodes '@' to '%40'

# Corrected URI with encoded password
uri = f"mongodb+srv://vivek_singh:{password}@cluster0.1zrrljr.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

# Create a new client and connect to the server
client = MongoClient(uri)

# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [13]:
client

MongoClient(host=['ac-gsrvb6z-shard-00-00.1zrrljr.mongodb.net:27017', 'ac-gsrvb6z-shard-00-01.1zrrljr.mongodb.net:27017', 'ac-gsrvb6z-shard-00-02.1zrrljr.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', appname='Cluster0', authsource='admin', replicaset='atlas-tfd7c2-shard-0', tls=True)

In [17]:
# document based database- collection--- e.g. dictionary
# storing data

db = client['DB1']  # Create or access a database named 'DB1'

data = {"name": "vivek", "class": "Bioinfo.", "Insti": "IISc"}  
# Define a dictionary representing a document with key-value pairs

coll_DB1 = db["my_record"]  # Create or access a collection named 'my_record' within 'DB1'
coll_DB1.insert_one(data)  # Insert the document 'data' into the 'my_record' collection

InsertOneResult(ObjectId('67e7eb540823d9519d2e82d4'), acknowledged=True)

In [21]:
# storing another type of data - "which is not allowed by MySQL"
data1 = {"mail_id" : "bhbfh@gmail.com", "phone" : 947727778, "Location" : "Banglore"}
coll_DB1.insert_one(data1) # if we want to store only one record

InsertOneResult(ObjectId('67e7ecc90823d9519d2e82d6'), acknowledged=True)

In [25]:
# insert multiple dictionary/record
data2 = [
    {"name": "Abhi", "address": "UP"},
    {"name": "Vivek", "address": "Delhi"},
    {"name": "Rohan", "address": "Mumbai"},
    {"name": "Amit", "address": "Pune"},
    {"name": "Suresh", "address": "Kolkata"},
    {"name": "Neha", "address": "Chennai"},
    {"name": "Priya", "address": "Bangalore"},
    {"name": "Rajesh", "address": "Hyderabad"},
    {"name": "Anjali", "address": "Jaipur"},
    {"name": "Manoj", "address": "Lucknow"},
    {"name": "Kiran", "address": "Patna"},
    {"name": "Deepak", "address": "Chandigarh"},
    {"name": "Meena", "address": "Indore"},
    {"name": "Sanjay", "address": "Nagpur"},
    {"name": "Pooja", "address": "Bhopal"},
    {"name": "Rahul", "address": "Ahmedabad"},
    {"name": "Sunil", "address": "Visakhapatnam"},
    {"name": "Alok", "address": "Guwahati"},
    {"name": "Sneha", "address": "Dehradun"},
    {"name": "Ravi", "address": "Shimla"}
]

coll_DB1.insert_many(data2) # if we want to store only multiple record

InsertManyResult([ObjectId('67e7efa10823d9519d2e82d7'), ObjectId('67e7efa10823d9519d2e82d8'), ObjectId('67e7efa10823d9519d2e82d9'), ObjectId('67e7efa10823d9519d2e82da'), ObjectId('67e7efa10823d9519d2e82db'), ObjectId('67e7efa10823d9519d2e82dc'), ObjectId('67e7efa10823d9519d2e82dd'), ObjectId('67e7efa10823d9519d2e82de'), ObjectId('67e7efa10823d9519d2e82df'), ObjectId('67e7efa10823d9519d2e82e0'), ObjectId('67e7efa10823d9519d2e82e1'), ObjectId('67e7efa10823d9519d2e82e2'), ObjectId('67e7efa10823d9519d2e82e3'), ObjectId('67e7efa10823d9519d2e82e4'), ObjectId('67e7efa10823d9519d2e82e5'), ObjectId('67e7efa10823d9519d2e82e6'), ObjectId('67e7efa10823d9519d2e82e7'), ObjectId('67e7efa10823d9519d2e82e8'), ObjectId('67e7efa10823d9519d2e82e9'), ObjectId('67e7efa10823d9519d2e82ea')], acknowledged=True)

In [29]:
data3 = {
    "name" : "notes",
    "quant" : 81,
    "size" : {"l" : 7, "w" : 8, "h" : 8},
    "rating" : [{"score" : 5}, {"score" : 4}],
    "tags" : ["ruled", "multi"]
}
coll_DB1.insert_one(data3)

InsertOneResult(ObjectId('67e7f5c90823d9519d2e82eb'), acknowledged=True)

In [31]:
# extracting data from a given list of data
list_of_records = [
    {'companyName': 'iNeuron',
     'product': 'Affordable AI',
     'courseOffered': 'Machine Learning with Deployment'},

    {'companyName': 'iNeuron',
     'product': 'Affordable AI',
     'courseOffered': 'Deep Learning for NLP and Computer vision'},

    {'companyName': 'iNeuron',
     'product': 'Master Program',
     'courseOffered': 'Data Science Masters Program'}
]
coll_DB1.insert_many(list_of_records)

InsertManyResult([ObjectId('67e7f69b0823d9519d2e82ec'), ObjectId('67e7f69b0823d9519d2e82ed'), ObjectId('67e7f69b0823d9519d2e82ee')], acknowledged=True)

In [33]:
# we want to see all data at once that are available in our DB1 till now
for i in coll_DB1.find():
    print(i)

{'_id': ObjectId('67e7eb540823d9519d2e82d4'), 'name': 'vivek', 'class': 'Bioinfo.', 'Insti': 'IISc'}
{'_id': ObjectId('67e7ec950823d9519d2e82d5'), 'mail_id': 'bhbfh@gmail.com', 'phone': 7727778, 'Location': 'Banglore'}
{'_id': ObjectId('67e7ecc90823d9519d2e82d6'), 'mail_id': 'bhbfh@gmail.com', 'phone': 947727778, 'Location': 'Banglore'}
{'_id': ObjectId('67e7efa10823d9519d2e82d7'), 'name': 'Abhi', 'address': 'UP'}
{'_id': ObjectId('67e7efa10823d9519d2e82d8'), 'name': 'Vivek', 'address': 'Delhi'}
{'_id': ObjectId('67e7efa10823d9519d2e82d9'), 'name': 'Rohan', 'address': 'Mumbai'}
{'_id': ObjectId('67e7efa10823d9519d2e82da'), 'name': 'Amit', 'address': 'Pune'}
{'_id': ObjectId('67e7efa10823d9519d2e82db'), 'name': 'Suresh', 'address': 'Kolkata'}
{'_id': ObjectId('67e7efa10823d9519d2e82dc'), 'name': 'Neha', 'address': 'Chennai'}
{'_id': ObjectId('67e7efa10823d9519d2e82dd'), 'name': 'Priya', 'address': 'Bangalore'}
{'_id': ObjectId('67e7efa10823d9519d2e82de'), 'name': 'Rajesh', 'address': 'Hyderabad'}
{'_id': ObjectId('67e7efa10823d9519d2e82df'), 'name': 'Anjali', 'address': 'Jaipur'}
{'_id': ObjectId('67e7efa10823d9519d2e82e0'), 'name': 'Manoj', 'address': 'Lucknow'}
{'_id': ObjectId('67e7efa10823d9519d2e82e1'), 'name': 'Kiran', 'address': 'Patna'}
{'_id': ObjectId('67e7efa10823d9519d2e82e2'), 'name': 'Deepak', 'address': 'Chandigarh'}
{'_id': ObjectId('67e7efa10823d9519d2e82e3'), 'name': 'Meena', 'address': 'Indore'}
{'_id': ObjectId('67e7efa10823d9519d2e82e4'), 'name': 'Sanjay', 'address': 'Nagpur'}
{'_id': ObjectId('67e7efa10823d9519d2e82e5'), 'name': 'Pooja', 'address': 'Bhopal'}
{'_id': ObjectId('67e7efa10823d9519d2e82e6'), 'name': 'Rahul', 'address': 'Ahmedabad'}
{'_id': ObjectId('67e7efa10823d9519d2e82e7'), 'name': 'Sunil', 'address': 'Visakhapatnam'}
{'_id': ObjectId('67e7efa10823d9519d2e82e8'), 'name': 'Alok', 'address': 'Guwahati'}
{'_id': ObjectId('67e7efa10823d9519d2e82e9'), 'name': 'Sneha', 'address': 'Dehradun'}
{'_id': ObjectId('67e7efa10823d9519d2e82ea'), 'name': 'Ravi', 'address': 'Shimla'}
{'_id': ObjectId('67e7f5c90823d9519d2e82eb'), 'name': 'notes', 'quant': 81, 'size': {'l': 7, 'w': 8, 'h': 8}, 'rating': [{'score': 5}, {'score': 4}], 'tags': ['ruled', 'multi']}
{'_id': ObjectId('67e7f69b0823d9519d2e82ec'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('67e7f69b0823d9519d2e82ed'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('67e7f69b0823d9519d2e82ee'), 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}

In [37]:
# find one specific data e.g. name:Priya
for i in coll_DB1.find({'name' : 'Priya'}):
    print(i)

{'_id': ObjectId('67e7efa10823d9519d2e82dd'), 'name': 'Priya', 'address': 'Bangalore'}

In [39]:
for i in coll_DB1.find({'companyName' : 'iNeuron'}):
    print(i)

{'_id': ObjectId('67e7f69b0823d9519d2e82ec'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('67e7f69b0823d9519d2e82ed'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('67e7f69b0823d9519d2e82ee'), 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}

In [41]:
random_data = [
    {'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'},
    {'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'},
    {'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'}
]
coll_DB1.insert_many(random_data)

InsertManyResult(['3', '4', '5'], acknowledged=True)

In [47]:
for i in coll_DB1.find():
    print(i)

{'_id': ObjectId('67e7eb540823d9519d2e82d4'), 'name': 'vivek', 'class': 'Bioinfo.', 'Insti': 'IISc'}
{'_id': ObjectId('67e7ec950823d9519d2e82d5'), 'mail_id': 'bhbfh@gmail.com', 'phone': 7727778, 'Location': 'Banglore'}
{'_id': ObjectId('67e7ecc90823d9519d2e82d6'), 'mail_id': 'bhbfh@gmail.com', 'phone': 947727778, 'Location': 'Banglore'}
{'_id': ObjectId('67e7efa10823d9519d2e82d7'), 'name': 'Abhi', 'address': 'UP'}
{'_id': ObjectId('67e7efa10823d9519d2e82d8'), 'name': 'Vivek', 'address': 'Delhi'}
{'_id': ObjectId('67e7efa10823d9519d2e82d9'), 'name': 'Rohan', 'address': 'Mumbai'}
{'_id': ObjectId('67e7efa10823d9519d2e82da'), 'name': 'Amit', 'address': 'Pune'}
{'_id': ObjectId('67e7efa10823d9519d2e82db'), 'name': 'Suresh', 'address': 'Kolkata'}
{'_id': ObjectId('67e7efa10823d9519d2e82dc'), 'name': 'Neha', 'address': 'Chennai'}
{'_id': ObjectId('67e7efa10823d9519d2e82dd'), 'name': 'Priya', 'address': 'Bangalore'}
{'_id': ObjectId('67e7efa10823d9519d2e82de'), 'name': 'Rajesh', 'address': 'Hyderabad'}
{'_id': ObjectId('67e7efa10823d9519d2e82df'), 'name': 'Anjali', 'address': 'Jaipur'}
{'_id': ObjectId('67e7efa10823d9519d2e82e0'), 'name': 'Manoj', 'address': 'Lucknow'}
{'_id': ObjectId('67e7efa10823d9519d2e82e1'), 'name': 'Kiran', 'address': 'Patna'}
{'_id': ObjectId('67e7efa10823d9519d2e82e2'), 'name': 'Deepak', 'address': 'Chandigarh'}
{'_id': ObjectId('67e7efa10823d9519d2e82e3'), 'name': 'Meena', 'address': 'Indore'}
{'_id': ObjectId('67e7efa10823d9519d2e82e4'), 'name': 'Sanjay', 'address': 'Nagpur'}
{'_id': ObjectId('67e7efa10823d9519d2e82e5'), 'name': 'Pooja', 'address': 'Bhopal'}
{'_id': ObjectId('67e7efa10823d9519d2e82e6'), 'name': 'Rahul', 'address': 'Ahmedabad'}
{'_id': ObjectId('67e7efa10823d9519d2e82e7'), 'name': 'Sunil', 'address': 'Visakhapatnam'}
{'_id': ObjectId('67e7efa10823d9519d2e82e8'), 'name': 'Alok', 'address': 'Guwahati'}
{'_id': ObjectId('67e7efa10823d9519d2e82e9'), 'name': 'Sneha', 'address': 'Dehradun'}
{'_id': ObjectId('67e7efa10823d9519d2e82ea'), 'name': 'Ravi', 'address': 'Shimla'}
{'_id': ObjectId('67e7f5c90823d9519d2e82eb'), 'name': 'notes', 'quant': 81, 'size': {'l': 7, 'w': 8, 'h': 8}, 'rating': [{'score': 5}, {'score': 4}], 'tags': ['ruled', 'multi']}
{'_id': ObjectId('67e7f69b0823d9519d2e82ec'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('67e7f69b0823d9519d2e82ed'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('67e7f69b0823d9519d2e82ee'), 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
{'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'}

In [51]:
# from above 'random_data' e want to filter only that data having id greater than or equal to 4
for i in coll_DB1.find({"_id" :{"$gte" : '4'}}):
    print(i)

{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'}

In [53]:
# we want to update all 'companyName' : 'iNeuron' to 'companyName' : 'IBM'
coll_DB1.update_many({'companyName' : 'iNeuron'}, {"$set" : {'companyName' : 'IBM'}})

UpdateResult({'n': 6, 'electionId': ObjectId('7fffffff000000000000007e'), 'opTime': {'ts': Timestamp(1743256702, 6), 't': 126}, 'nModified': 6, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1743256702, 6), 'signature': {'hash': b'\xba.`\xab\x8e,Z>\x1a\x05\xc2\x8a\xf6\x15\xf1S\xc9\xcbr\xf9', 'keyId': 7428503357020438539}}, 'operationTime': Timestamp(1743256702, 6), 'updatedExisting': True}, acknowledged=True)

In [55]:
for i in coll_DB1.find():
    print(i)

{'_id': ObjectId('67e7eb540823d9519d2e82d4'), 'name': 'vivek', 'class': 'Bioinfo.', 'Insti': 'IISc'}
{'_id': ObjectId('67e7ec950823d9519d2e82d5'), 'mail_id': 'bhbfh@gmail.com', 'phone': 7727778, 'Location': 'Banglore'}
{'_id': ObjectId('67e7ecc90823d9519d2e82d6'), 'mail_id': 'bhbfh@gmail.com', 'phone': 947727778, 'Location': 'Banglore'}
{'_id': ObjectId('67e7efa10823d9519d2e82d7'), 'name': 'Abhi', 'address': 'UP'}
{'_id': ObjectId('67e7efa10823d9519d2e82d8'), 'name': 'Vivek', 'address': 'Delhi'}
{'_id': ObjectId('67e7efa10823d9519d2e82d9'), 'name': 'Rohan', 'address': 'Mumbai'}
{'_id': ObjectId('67e7efa10823d9519d2e82da'), 'name': 'Amit', 'address': 'Pune'}
{'_id': ObjectId('67e7efa10823d9519d2e82db'), 'name': 'Suresh', 'address': 'Kolkata'}
{'_id': ObjectId('67e7efa10823d9519d2e82dc'), 'name': 'Neha', 'address': 'Chennai'}
{'_id': ObjectId('67e7efa10823d9519d2e82dd'), 'name': 'Priya', 'address': 'Bangalore'}
{'_id': ObjectId('67e7efa10823d9519d2e82de'), 'name': 'Rajesh', 'address': 'Hyderabad'}
{'_id': ObjectId('67e7efa10823d9519d2e82df'), 'name': 'Anjali', 'address': 'Jaipur'}
{'_id': ObjectId('67e7efa10823d9519d2e82e0'), 'name': 'Manoj', 'address': 'Lucknow'}
{'_id': ObjectId('67e7efa10823d9519d2e82e1'), 'name': 'Kiran', 'address': 'Patna'}
{'_id': ObjectId('67e7efa10823d9519d2e82e2'), 'name': 'Deepak', 'address': 'Chandigarh'}
{'_id': ObjectId('67e7efa10823d9519d2e82e3'), 'name': 'Meena', 'address': 'Indore'}
{'_id': ObjectId('67e7efa10823d9519d2e82e4'), 'name': 'Sanjay', 'address': 'Nagpur'}
{'_id': ObjectId('67e7efa10823d9519d2e82e5'), 'name': 'Pooja', 'address': 'Bhopal'}
{'_id': ObjectId('67e7efa10823d9519d2e82e6'), 'name': 'Rahul', 'address': 'Ahmedabad'}
{'_id': ObjectId('67e7efa10823d9519d2e82e7'), 'name': 'Sunil', 'address': 'Visakhapatnam'}
{'_id': ObjectId('67e7efa10823d9519d2e82e8'), 'name': 'Alok', 'address': 'Guwahati'}
{'_id': ObjectId('67e7efa10823d9519d2e82e9'), 'name': 'Sneha', 'address': 'Dehradun'}
{'_id': ObjectId('67e7efa10823d9519d2e82ea'), 'name': 'Ravi', 'address': 'Shimla'}
{'_id': ObjectId('67e7f5c90823d9519d2e82eb'), 'name': 'notes', 'quant': 81, 'size': {'l': 7, 'w': 8, 'h': 8}, 'rating': [{'score': 5}, {'score': 4}], 'tags': ['ruled', 'multi']}
{'_id': ObjectId('67e7f69b0823d9519d2e82ec'), 'companyName': 'IBM', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('67e7f69b0823d9519d2e82ed'), 'companyName': 'IBM', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('67e7f69b0823d9519d2e82ee'), 'companyName': 'IBM', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
{'_id': '3', 'companyName': 'IBM', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'IBM', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'IBM', 'Faculty': 'PQR'}